body {
    background-color: aqua;
}
#Titulo-uno{background-color: brown;}
#Titulo-dos{background-color: green;}
.Titulo-tres{background-color: darkmagenta;}

h1 {
    background-color: tomato;
    color: white;
}